/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.avatar {
    display: inline-block;
    margin-top: 20px;
}

.avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
}

p {
    font-size: 18px;
}

section {
    margin: 30px auto;
    padding: 20px;
    max-width: 800px;
}

h2 {
    font-size: 28px;
    color: #333;
}

.social-icons a {
    margin: 10px;
    display: inline-block;
}

.social-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
